{% extends "base.html" %}
{% block title %}Library Loan System - Product Page{% endblock %}

{% block content %}

<style>

.container-fluid {
margin: 0px;
padding: 0px;
}
.about-section{
  background: url(static/Images/koryomartpic.png) no-repeat left;
  background-size: 60%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 0;
  background-color: #F9EBC8;
}

.inner-container{
  width: 55%;
  float: right;
  background-color: #fdfdfd;
  padding: 150px;
}

.inner-container h1{
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

<!--.text{-->
<!--  font-size: 20px;-->
<!--  color: #545454;-->
<!--  line-height: 30px;-->
<!--  text-align: justify;-->
<!--  margin-bottom: 40px;-->
<!--}-->

<!--.skills{-->
<!--  display: flex;-->
<!--  justify-content: space-between;-->
<!--  font-weight: 700;-->
<!--  font-size: 13px;-->
<!--}-->

<!--span {-->
<!--  background-->
<!--  font-weigh-->
<!--}-->

img{
    width: 100%;
}

.blog-post{
    width: 1000px;
    height: 600px;
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 20px;
}

.blog-post-image{
    min-width: 700px;
    max-width: 400px;
    margin-left: 50px;
    height: 550px;
    transform: translateX(-8rem);
    position: relative;
}

.blog-post-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 12px;
}

.text{
    margin-bottom: 40px;
    font-size: 15px;
}

#header {
text-align: center;
}

.map {
text-align: center;

</style>


<div class="blog-post">
    <div class="blog-post-image">
        <img src="static/Images/HealthBuddy.jpg" alt="">
    </div>

    <div class="blog-post-info">
        <div class="blog-post-date">
            <div class="centeredBox">
		        <span id="typewriter" data-array="" style="font-size: 23px; font-weight: bold"></span>
		        <span class="cursor"></span>
	        </div>

            <script>
            // The typewriter element
            var typeWriterElement = document.getElementById('typewriter');

            // The TextArray:
            var textArray = ["About Us | HealthBuddy"];

            // You can also do this by transfering it through a data-attribute
            // var textArray = typeWriterElement.getAttribute('data-array');


            // function to generate the backspace effect
            function delWriter(text, i, cb) {
                if (i >= 0 ) {
                    typeWriterElement.innerHTML = text.substring(0, i--);
                    // generate a random Number to emulate backspace hitting.
                    var rndBack = 10 + Math.random() * 100;
                    setTimeout(function() {
                        delWriter(text, i, cb);
                    },rndBack);
                } else if (typeof cb == 'function') {
                    setTimeout(cb,1000);
                }
            };

            // function to generate the keyhitting effect
            function typeWriter(text, i, cb) {
                if ( i < text.length+1 ) {
                    typeWriterElement.innerHTML = text.substring(0, i++);
                    // generate a random Number to emulate Typing on the Keyboard.
                    var rndTyping = 250 - Math.random() * 100;
                    setTimeout( function () {
                        typeWriter(text, i++, cb)
                    },rndTyping);
                } else if (i === text.length+1) {
                    setTimeout( function () {
                        delWriter(text, i, cb)
                    },1000);
                }
            };

            // the main writer function
            function StartWriter(i) {
                if (typeof textArray[i] == "undefined") {
                    setTimeout( function () {
                        StartWriter(0)
                    },1000);
                } else if(i < textArray[i].length+1) {
                    typeWriter(textArray[i], 0, function () {
                        StartWriter(i+1);
                    });
                }
            };
            // wait one second then start the typewriter
            setTimeout( function () {
                StartWriter(0);
            },1000);
            </script>

            <p class="text">At HealthBuddy, we are passionate about your well-being. Our mission is to make it easier for you to take control of your health and nutrition. We understand that maintaining a balanced diet and managing your calorie intake can be challenging in today's fast-paced world. That's why we've developed HealthBuddy – your trusted partner on your journey to better health.
            </p>

        </div>
    </div>
</div>


{% endblock %}
