{% extends "base.html" %}
{% block title %}Library Loan System - Report Form{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}


<link rel="stylesheet" href="./static/Css/formstyle.css">

<form method="POST" action="" enctype="multipart/form-data">
  <h2 class="display-4">Create Food</h2>
  <div class="form-container">
    <div class="contact-box">
  <div class="form-group">
      {{ render_field(form.name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.img, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.measure, class="form-control") }}
  </div>
  <div class="form-group">
     {{ render_field(form.calories, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.carbs, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.fats, class="form-control") }}
  </div>
  <div class="form-group">
     {{ render_field(form.protein, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.sodium, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.sugar, class="form-control") }}
  </div>


      <input type="submit" value="Submit" class="btn"/>
    </div>
    </div>
</form>
{% endblock %}
